
<h1>Select Plants from Our List</h1>

<form action="/my_plants" method="post">
<% @plants.each do |plant| %>
   <article class = "plant-ui-card-container">
        <input class = "plant_selected" type="hidden" name="" value="<%= plant.id%>">
        <img class="plant_image" src="<%= plant.image_url%>" alt="">
        <div class = "plant_info">
            <%= plant.common_name.upcase %>
            <%= plant.scientific_name %>
        </div>
        <div><img class = "add_plants_icons" src="/icon_assets/baseline-add_circle_outline-24px.svg" alt="" srcset=""></div>
   </article> 
<% end %>

    <button>Let's add your plants</button>
</form>


