<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>GARDENER. your plantbuddy</title>
  <link rel="shortcut icon" href="/icon_assets/icons8-sprout-32.png">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="/stylesheets/todo.css">
</head>
<body>
  <nav class="top-navigation">
    <div class="top-nav-top-half">
      <div>GARDENER.</div>
      <% if logged_in? %>
      <div class="username">
        <span> Welcome <%= current_user.username%>!</span>
   <form action="/sessions" method= "post">
    <input type="hidden" name= "_method" value= "delete">
    <button class="logout-btn">logout</button>
  </form>
  <% elsif session[:url] != 'login'%>
  <a class="login-text" href="/login">login</a>
  <% end %>
  
      </div>
     
    </div>
    <% if logged_in? %>
    <div class="top-nav-bottom-half">
      <a href="/todos" class="menu-link" data-page="<% if session[:url] != 'todos'%>in<% end %>active"> <img class = "nav-images" src="icon_assets/TodoList.svg" alt="">  To Dos</a>
      <a href="/my_plants" class="menu-link" data-page="<% if session[:url] != 'my_plants'%>in<% end %>active"><img class = "nav-images" src="icon_assets/Myplants.svg" alt="">  My Plants</a>
      <a href="/mydetails" class="menu-link" data-page="<% if session[:url] != 'my_details'%>in<% end %>active"><img class = "nav-images" src="icon_assets/Myinfo.svg" alt="">  My Info</a>
    </div>
    <% end %>
    
  </nav>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <%= yield %>
  <%# Cleanse all session token data as needed %>
  <% session[:url] = nil %>
  <% session[:login_error] = nil %>
  <% session[:signup_error] = nil %>
  <% session[:email_error] = nil %>
  <% session[:email_updated] = nil %>
  <% session[:password_error] = nil %>
  <% session[:username_error] = nil %>
  <% session[:username_updated] = nil %>
  <nav class="bottom-navigation"> 🌱 Handmade By CLSY - SEI20 </nav>
  <script src="/javascripts/application.js"></script>
</body>
</html>