<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GARDENER. your plantbuddy</title>
  <link rel="shortcut icon" href="/icon_assets/icons8-sprout-32.png">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav class="top-navigation">
    <div class="top-nav-top-half">
      <div class="logo">GARDENER.</div>
      <% if logged_in? %>
      <div class="username">
        Welcome <%= current_user.username%>!
        
   <form action="/sessions" method= "post">
    <input type="hidden" name= "_method" value= "delete">
    <button>logout</button>
  </form>
  <% else %>
  <a href="/login">login</a>
  <% end %>
  
      </div>
     
    </div>
    <div class="top-nav-bottom-half">
      <a href="/mydetails" class="menu-link" data-page="inactive">To Dos</a>
      <a href="/my_plants" class="menu-link" data-page="active">My Plants</a>
      <a href="/todo" class="menu-link" data-page="inactive">My Info</a>
    </div>
  </nav>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <%= yield %>
  <nav class="bottom-navigation"></nav>
  <script src="/javascripts/application.js"></script>
</body>
</html>