<main class="yield-container">
  <div class="logincontainer">
    <button class="loginbtn">Sign In/Register</button>
  </div>
  <div class="overlay">
  </div>
  <div class="main-popup">
    <div class="popup-header">
      <div id="popup-close-button"><a href="#"></a></div>
      <ul>
        <li><a href="#" id="sign-in">Sign In</a></li>
        <li><a href="#" id="register">Register</a></li>
      </ul>
    </div><!--.popup-header-->
    <div class="popup-content">
      <form action="/sessions"  method="post" class="sign-in">
        <label class= "loginlable" for="email">Email:</label>
        <input type="text" name="email">
        <label class= "loginlable" for="password">Password:</label>
        <input type="password" name="password">
        <%# <p class="check-mark">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Remember me</label>
        </p> %>
        <input type="submit" id="submit" value="Submit">
      </form>
    
      <form action="/createaccount"  method="post" class="register">
        <label class= "loginlable" for="">Name:</label>
        <input type="text" name='username'>
        <label class= "loginlable" for="">Email:</label>
        <input type="text" name='email'>
        <label class= "loginlable" for="">Password:</label>
        <input type="password" name='password'>
        <%# <label for="password-confirmation">Confirm Password:</label>
        <input type="password-confirmation" id="password-confirmation"> %>
        <%# <p class="check-mark">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">I agree to the <a href="#">Terms</a></label>
        </p> %>
        <input type="submit" id="submit" value="Create Account">
      </form>
    </div><!--.popup-content-->
  </div><!--.main-popup-->
  <script src="/javascripts/loginregister.js"></script>
</main>
