/* General Styling ~ START */

:root {
  --main-bg-color: #C96A6A;
  /* --main-bg-color: #CA8E74; */
  /* --main-bg-color: #DBB2A3; */
  --text-and-top-half-nav: #054456;
  --bottom-half-nav: #E9E4D2;
  --bottom-half-nav-hover: #D1CDBD;
  --general-div-and-highlight-text: #9AB584;
  --highlighted-div: #B8CBA8;
}
.yield-container{
  min-height: calc(100vh - 9em);
  background-color: var(--main-bg-color);
}
body {
  font-family: 'Oswald', sans-serif;
}

/* General Styling ~ END */

/* Layout Page CSS ~ START */
.top-navigation,.bottom-navigation{
  width: 100%;
}
.top-nav-top-half{
  font-weight: bolder;
  font-size: 1.5em;
  color: var(--general-div-and-highlight-text);
  height: 3.0em;
  background-color: var(--text-and-top-half-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;

}
.top-nav-bottom-half {
  height: 2.3em;
  display: flex;
  justify-content: center;
}
.menu-link{
  text-align: center;
  background-color: var(--bottom-half-nav);
  padding: 0.5em;
  text-decoration: none;
  color:var(--text-and-top-half-nav);
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}
.menu-link:hover{
  background-color: var(--bottom-half-nav-hover);
  line-height: calc(1em - 2px);
}
.menu-link[data-page="active"] {
  background-color: var(--bottom-half-nav);
  color: var(--text-and-top-half-nav);
  text-decoration: underline var(--text-and-top-half-nav);
}
/* .logo{
    width: 2.5em;
    height: 2.5em;
    background-color: aquamarine;
    border-radius: 50%;

    /* Temporary Text CSS */
    /* text-align: center;
    line-height: 2.5em;
}  */

.username{
  color: var(--general-div-and-highlight-text);
  /* TODO: Add styling when user login functions */
}

.bottom-navigation{
  height: 2.3em;
  background-color: var(--text-and-top-half-nav);
}
/* Layout Page CSS ~ END */

/* My Details Styling */
.mydetails-container{
  display: flex;
  flex-wrap: wrap;
}
.mydetails-container > form {
  font-size: 1em;
  line-height: 1.5em;
  width: 20em;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

.mydetails-container > form > * {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.label-input-pair{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mydetails-container label {
  flex-grow: 0;
}
.mydetails-container input {
  flex-grow: 1;
  max-width: 50%;
  text-align: center;
}
.mydetails-container button {
  width: 9.5em;
  flex-grow: 0;
  align-self: flex-end;
  justify-self: flex-end;
}
.user_detail_errors, .user_detail_updates{
  display:flex;
  flex-direction:column;
}
.user_detail_errors > *, .user_detail_updates > * {
  
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  width: auto;
  flex-shrink: 1;
}
.user_detail_errors > * {
  background-color: orange;
}
.user_detail_updates > * {
  background-color: green;
  color: white;
}
/* My Details Styling */



/* todo page */
.cloud{
  background: url(/weather_assets/clouds.png);
}
.weather {
  margin-top: 0;
  margin-left: auto;
  margin-right: 10px;
  height: 100px;
  width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.container-for-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to-do-item {
  font-size: 1rem;
  color: var(--text-and-top-half-nav);
  display: flex;
  justify-content: space-between;
  border: solid #6D9848 1px;
  background: #6D9848;
  padding: 1rem 1rem;
  width: 80%;
  border-radius: 10px 10px;
  padding: 1%;
  transition: width 0.6s ease-in;
  margin-bottom: 3%;
  -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.64);    
}



/* Login & Register Styling ~ START */
.logincontainer {
  background-color: var(--main-bg-color);
	border-radius: 0.5em;
  z-index: 2;
  display: flex;
  width: 100%;
	height: 100%;
  min-height: calc(100vh - 6.8em);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.loginbtn {
  height: 3em;
	width: 11em;
  padding: 1em;
  line-height: 0em;
	border-radius: 0.5em;
	background-color: var(--general-div-and-highlight-text);
	color: var(--text-and-top-half-nav);
	font-size: 1.5em;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  outline: none;
}

.loginbtn:hover {
	background-color: var(--highlighted-div);
	opacity: 0.8;
}
  
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}
  
.overlay.visible {
	opacity: 1;
	visibility: visible;
}
  
.main-popup {
	position: fixed;
	left: 0;
	top: 30px;
	margin: 0;
	width: 100%;
	height: 450px;
	background-color: var(--bottom-half-nav);
	border-radius: 5px;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: all .5s ease;
}
  
.main-popup.visible {
	opacity: 1;
	visibility: visible;
	transform: translateY(10px);
	transition: all .5s ease;
}

  
@media (min-width: 32em) {
	.main-popup {
	  width: 32em;
	  left: 50%;
	  margin: 0 0 0 -16em;
	}
}
  
.popup-header {
	position: relative;
	padding: 0;
	margin: 0;
	height: 62px;
	width: 100%;
}
  
#popup-close-button a {
	position: absolute;
	right: 10px;
	top: -30px;
	width: 22px;
	height: 22px;
}
  
#popup-close-button a::before {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	width: 3px;
	height: 25px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
  
#popup-close-button a::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	width: 3px;
	height: 25px;
	background-color: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
  
.popup-header ul {
	margin: 0;
	padding: 0;
}
  
.popup-header ul li {
	text-align: center;
	list-style: none;
	width: 50%;
	float: left;
}
  
.popup-header ul li a {
	display: block;
	padding: 20px 0;
	margin: 0;
	text-decoration: none;
	font-size: 1.2em;
}
#sign-in, #register {
	background-color: var(--bottom-half-nav-hover);
	color: var(--text-and-top-half-nav);
	
}
#sign{
  border-radius: 1em 0 0 0;
}
#register{
  border-radius: 0 1em 0 0;
}
  
#sign-in.active,#register.active  {
	color: var(--text-and-top-half-nav);
	background-color: transparent;
}
  
.popup-content {
  height: 400px;
  width: 100%;
	overflow: hidden;
}
  
form.sign-in {
	position: relative; 
	top: 40px;
	left: 0;
	font-size: 1em;
	opacity: 1;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
  
form.sign-in.move-left {
	opacity: 0;
	transform: translateX(-450px);
}
  
.loginlabel {
	font-size: 1.1em;
	color: #ceaee8;
	margin-left: 23px;
}
  
form.sign-in input {
	border-radius: 5px;
	width: 90%;
	height: 40px;
	margin: 5px 5% 30px 5%;
	padding: 10px;
	font-size: 1em;
	color: #ceaee8;
	outline: none;
	border: none;
}
  
input#submit {
	background-color: #ceaee8;
	color: #fff;
	height: 50px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 25px;
	padding: 0;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	font-size: 1em;
	border: none;
}
  
form.register {
	position: relative; 
	top: -280px;
	left: 0;
	font-size: 1em;
	opacity: 0;
	transform: translateX(450px);
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
  
form.register.move-left {
	opacity: 1;
	transform: translateX(0);
}
  
form.register input {
	border-radius: 5px;
	width: 90%;
	height: 30px;
	margin: 5px 5% 15px 5%;
	padding: 10px;
	font-size: 1em;
	color: #ceaee8;
	outline: none;
	border: none;
}
  
p.check-mark {
	position: relative;
	left: 50%;
	width: 200px;
	margin: 0 0 0 -100px;
	padding: 0;
	text-align: center;
	color: #ceaee8;
	font-size: .8em;
}
  
p.check-mark a {
	color: #a48bb9;
}
  
p.check-mark input {
	border-radius: 0;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 2em;
	color: #ceaee8;
	outline: none;
	border: none;
}
  
p.check-mark label {
	margin-left: 5px;
}

/* Login & Register Styling ~ END */

/* Plants Routes Styling ~ START */
.plant_image {
  width: 100%;
}

.plant_selected_opacity {
  opacity: 0.5;
}

.plant-ui-card-container {
  display: inline-block;
  width: 30%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0.3em;
  background-color: #E9E4D2;
  box-shadow: 2px grey;
}

.add_plants_icons {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  opacity: 0.8;
}

.my-plant-ui-card-container {
  display: inline-block;
  width: 30%;
  position: relative;
  overflow: hidden;
  padding: 0.3em;
  background-color: #E9E4D2;
  box-shadow: 2px grey;
}

.plant_info {
  font-weight: bold;
  background-color: #9AB584;
  transform: translateY(2px);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  color: #054456;
}

.plant-ui-card-container:hover .plant_info {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
}

.my-plant-ui-card-container:hover .plant_info {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
}

/* Plants Routes Styling ~ END */

/* modal box on plants pag */
.modalDialog {
	position: fixed;
    font-family: 'Oswald', sans-serif;
    color: #054456;
    font-weight: bolder;
    padding: 0.5em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
    /* max-height: calc(100vh - 210px); */
    overflow-y: auto;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
    background-color: #E9E4D2;
	/* background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); */
}

.close {
	background: #054456;
	color: #C96A6A;
	line-height: 2em;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 2em;
	text-decoration: none;
	font-weight: bolder;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #1D5666; }


.plants-container {
    position: relative;
    text-align: center;
}

.add-plant-image {
    position: fixed;
    box-shadow: 2px grey;
    bottom: 3em;
    left: 2em;
    width: 6em;
    height: 6em;
    opacity: 0.8;
}

.add-plant-image:hover {
    opacity: 1;
    transition: all 0.3s linear;
}

.add-plant-header {
    padding: 0.5em 0em;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: underline;
}

.add-plants-btn {
    font-family: 'Oswald', sans-serif;
    background-color: #054456;
    color: #E9E4D2;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    border-radius: 10px;
}

.add-plants-btn:hover {
    opacity: 0.8;
    transition: all 0.3s linear;
}