/* General Styling ~ START */

:root {
  --main-bg-color: #C96A6A;
  /* --main-bg-color: #CA8E74; */
  /* --main-bg-color: #DBB2A3; */
  --text-and-top-half-nav: #054456;
  --bottom-half-nav: #E9E4D2;
  --bottom-half-nav-hover: #D1CDBD;
  --general-div-and-highlight-text: #9AB584;
  --highlighted-div: #B8CBA8;
}
.yield-container{
  min-height: calc(100vh - 9em);
  background-color: var(--main-bg-color);
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--text-and-top-half-nav) !important;
}
.centre-404{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  line-height: 30vh;
  font-size: 2em;
}
/* General Styling ~ END */

/* Layout Page CSS ~ START */
.top-navigation,.bottom-navigation{
  width: 100%;
}
.top-nav-top-half{
  font-weight: bolder;
  font-size: 1.8em;
  color: var(--general-div-and-highlight-text);
  height: 2.8em;
  background-color: var(--text-and-top-half-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;

}
.login-text,.logout-btn{
  color: white;
  text-decoration: none;
}
.logout-btn{
  color: var(--bottom-half-nav) !important;
  background: none;
  border: 2px solid var(--bottom-half-nav);
  border-radius: 10px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  margin-left: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: background-color 0.3s ease-in;
}
.logout-btn:hover{
  /* border: 2px solid white;
  color: white !important; */
  /* background-color: var(--main-bg-color); */
  opacity: 0.6;
}
.top-nav-bottom-half {
  height: 2.5em;
  padding-top: 0.2em;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  background-color: var(--bottom-half-nav);
}

.nav-images {
	height: 1.3em;
	width: 1.3em;
	opacity: 0.3;
	vertical-align: middle;
	padding-bottom: 0.2em;
	padding-right: 0.2em;
}

/* .user-welcome {
	fill: #E9E4D2;
} */

.menu-link{
  text-align: center;
  background-color: var(--bottom-half-nav);
  padding: 0.5em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  text-decoration: none;
  color:var(--text-and-top-half-nav);
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}
.menu-link:hover{
  background-color: var(--bottom-half-nav-hover);
  line-height: calc(1.0em + 2px);
}
.menu-link[data-page="active"] {
  color: var(--text-and-top-half-nav);
  border-bottom: 2px solid var(--text-and-top-half-nav);
}

.username{
  color: var(--bottom-half-nav);
  display: flex;
  align-items: center; 
  font-size: 0.5em;
}


.bottom-navigation{
  height: 2.3em;
  background-color: var(--text-and-top-half-nav);
  color: #9AB584;
  text-align: center;
  padding-top: 0.5em;
  font-size: 0.8em;
}
/* Layout Page CSS ~ END */

/* My Details Styling */
.mydetails-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top:  5em;
}


.mydetails-container > form {
	font-size: 1em;
	line-height: 2em;
	width: 25em;
	background-color: #E9E4D2;
	color:#054456;
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 2em 2em 1em 2em;
	border-radius: 5px;
}

.my-info-header {
	color: #054456;
	font-size: 2em;
	text-align: center;
	padding-bottom: 1em
}

.mydetails-container > form > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.label-input-pair{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.label-input-pair > input {
	padding: 0px 0.8em;
	border-radius: 5px;
	border-color: white;
	border-width: 0;

  }
.mydetails-container label {
  flex-grow: 0;
}
.mydetails-container input {
  flex-grow: 1;
  max-width: 50%;
  text-align: center;
}
.mydetails-container button {
   width: 100%;
  flex-grow: 0;
  align-self: center;
  justify-self: center;
  margin-top: 2em;
}

.update-info-btn {
    font-family: 'Oswald', sans-serif;
    background-color: var(--text-and-top-half-nav);
    color: var(--bottom-half-nav);
	text-align: center;
	align-content: center;
	padding: 7px 15px;
	width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    opacity: 1;
	border-radius: 5px;
	border: none;
}

.update-info-btn:hover {
    opacity: 0.8;
    transition: all 0.3s linear;
}

.user_detail_errors, .user_detail_updates{
  display:flex;
  flex-direction:column;
}
.user_detail_errors > *, .user_detail_updates > * {
  
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  width: auto;
  flex-shrink: 1;
}
.user_detail_errors > * {
  background-color: orange;
}
.user_detail_updates > * {
  background-color: green;
  color: white;
}
/* My Details Styling */

/* Todo page  ~ START */
.invisible-spacer {
  height: 0.25em;
}
.weather-div {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  border-radius: 1em;
  height: 5em;
  align-items: center;
  min-width: 25em;
  width: 90%;
  max-width: 60em;
}
.weather-div * {
  height: 100%;
  background-color: var(--bottom-half-nav);
}
.weather-text {
  font-family: Oswalsd, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  line-height: 3.25em;
  font-size: 1.5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  color: var(--text-and-top-half-nav);
  font-weight: lighter;
  border: 2px solid var(--text-and-top-half-nav);
  border-right: none;
  text-align: center;
}
.weather-icon {
  width: 5em;
  height: 5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 2px solid var(--text-and-top-half-nav);
  border-left: 1px solid var(--text-and-top-half-nav);
}
.container-for-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel {
  min-width: 25em;
  width: 90%;
  max-width: 60em;
  display: flex;
  flex-direction: column;
  background-color: var(--bottom-half-nav-hover);
  border: 2px solid var(--text-and-top-half-nav);
  border-radius: 1em;
  margin-bottom: 1em;
  align-items: center;
  padding-bottom: 0.5em;
}
.panel > button {
  width: 100%;
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.25em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: none;
  background-color: var(--bottom-half-nav);
  color: var(--text-and-top-half-nav);
  border-bottom: 0.5px solid var(--text-and-top-half-nav);
}

.to-do-item {
  font-size: 1rem;
  color: var(--text-and-top-half-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid var(--general-div-and-highlight-text) 1px;
  background-color: var(--general-div-and-highlight-text);
  width: 90%;
  border-radius: 10px 10px;
  padding: 1%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  transform: scaleY(1);
  transition: width 0.5s ease-in, padding-top 0.25s ease-in, padding-bottom 0.25s ease-in, transform 0.25s ease-in-out;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.64);    
}
.to-do-item h1{
  flex-basis: 30%;
  height: 100%;
}
.to-do-item h2{
  flex-basis: 30%;
}
.to-do-item p{
  flex-basis: 20%;
  text-align: right;
}

.closed{
  /* display: flex; */
  height: 3em; 
}
.closed > .to-do-item {
  height: 0;
  padding: 0;
  opacity: 0;
  border: 0;
}
.closed > button {
  border-radius: 1rem;
  border: none;
  z-index: 2;
  width: 100%;
}
.closed >.to-do-item > * {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.zero-width {
  transition: width 0.5s ease-in, padding 0.25s ease-in, transform 0.25s ease-in-out;
  width: 0;
  padding-left: 0;
  padding-right: 0;
  align-self:flex-start;
  margin-left: 5%;
}
.zero-width > * {
  opacity: 0;
}
.collapse_height{
  transition: width 0.5s ease-in, padding 0.25s ease-in, margin 0.25s ease-in, transform 0.25s ease-in-out;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  transform: scaleY(0);
  border: none;
}
.zero_height {
  height: 0;
  display: none;
}
.zero_height > * {
  display: none;
}
.accordionOne,.accordionTwo {
  z-index: 2;
}

/* Todo page  ~ START */

/* Login & Register Styling ~ START */
.logincontainer,.unknown-page-container {
  background-color: var(--main-bg-color);
	border-radius: 0.5em;
  z-index: 2;
  display: flex;
  width: 100%;
	height: 100%;
  min-height: calc(100vh - 6.8em);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.loginbtn {
  height: 3em;
	width: 11em;
  padding: 1em;
  line-height: 0em;
	border-radius: 0.5em;
	background-color: var(--general-div-and-highlight-text);
	color: var(--text-and-top-half-nav);
	font-size: 1.5em;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  outline: none;
}

.loginbtn:hover {
	background-color: var(--highlighted-div);
	opacity: 0.8;
}
  
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}
  
.overlay.visible {
	opacity: 1;
	visibility: visible;
}
  
.main-popup {
	position: fixed;
	left: 0;
	top: 30px;
	margin: 0;
	width: 100%;
	height: 450px;
	background-color: var(--bottom-half-nav);
	border-radius: 5px;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: all .5s ease;
}
  
.main-popup.visible {
	opacity: 1;
	visibility: visible;
	transform: translateY(10px);
	transition: all .5s ease;
}

  
@media (min-width: 32em) {
	.main-popup {
	  width: 32em;
	  left: 50%;
	  margin: 0 0 0 -16em;
	}
}
  
.popup-header {
	position: relative;
	padding: 0;
	margin: 0;
	height: 62px;
	width: 100%;
}
  
#popup-close-button a {
	position: absolute;
	right: 10px;
	top: -30px;
	width: 22px;
	height: 22px;
}
  
#popup-close-button a::before {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	width: 3px;
	height: 25px;
	background-color: var(--bottom-half-nav);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
  
#popup-close-button a::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	width: 3px;
	height: 25px;
	background-color: var(--bottom-half-nav);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
  
.popup-header ul {
	margin: 0;
	padding: 0;
}
  
.popup-header ul li {
	text-align: center;
	list-style: none;
	width: 50%;
	float: left;
}
  
.popup-header ul li a{
	display: block;
	padding: 20px 0;
	margin: 0;
	text-decoration: none;
	font-size: 1.2em;
}
#sign-in, #register {
	background-color: var(--bottom-half-nav-hover);
	color: var(--text-and-top-half-nav);
	
}
#sign{
  border-radius: 1em 0 0 0;
}
#register{
  border-radius: 0 1em 0 0;
}
  
#sign-in.active,#register.active  {
	color: var(--text-and-top-half-nav);
	background-color: transparent;
}
  
.popup-content {
  height: 400px;
  width: 100%;
	overflow: hidden;
}
  
form.sign-in {
	position: relative; 
	top: 40px;
	left: 0;
	font-size: 1em;
	opacity: 1;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

form.sign-in.vertical-shift-signin {
  top: 30px;
}
form.register.vertical-shift-register {
  top: -305px;
}
  
form.sign-in.move-left {
	opacity: 0;
	transform: translateX(-450px);
}
  
.loginlabel {
	font-size: 1.1em;
	color: var(--text-and-top-half-nav);
	margin-left: 23px;
}
.loginlabel-error{
  font-size: 1.1em;
  color: var(--main-bg-color) !important;
  text-align: center;
  margin-top: 0em !important;
  margin-bottom: 15px !important;
  background-color: var(--bottom-half-nav-hover);
}
.loginlabel-error2{
  font-size: 1.1em;
  color: var(--main-bg-color) !important;
  text-align: center;
  margin-top: 0.5em !important;
  margin-bottom: 0.35em !important;
  background-color: var(--bottom-half-nav-hover);
}
  
form.sign-in input {
	border-radius: 5px;
	width: 90%;
	height: 40px;
	margin: 5px 5% 30px 5%;
	padding: 10px;
	font-size: 1em;
	color: var(--text-and-top-half-nav);
	outline: none;
	border: none;
}
  
input#submit {
	background-color: var(--general-div-and-highlight-text);
	color: var(--text-and-top-half-nav);
	height: 50px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 25px;
	padding: 0;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	font-size: 1em;
	border: none;
}
  
form.register {
	position: relative; 
	top: -280px;
	left: 0;
	font-size: 1em;
	opacity: 0;
	transform: translateX(450px);
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
  
form.register.move-left {
	opacity: 1;
	transform: translateX(0);
}
  
form.register input {
	border-radius: 5px;
	width: 90%;
	height: 30px;
	margin: 5px 5% 15px 5%;
	padding: 10px;
	font-size: 1em;
	color: var(--text-and-top-half-nav);
	outline: none;
	border: none;
}

/* Login & Register Styling ~ END */

/* Plants Routes Styling ~ START */
.plant_image {
  object-fit: cover;
  max-height: 100%;
   max-width: 100%;
  /* overflow: hidden; */
}

.plant_selected_opacity {
  opacity: 0.5;
}

.plant-ui-card-container {
  /* border: 1px solid #E9E4D2; */
  display: inline-block;
  height: 300px;
  width: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0.8em;
  margin: 1em 0em;
  background-color: var(--bottom-half-nav);
  border: 2px solid #054456;
  box-shadow: 2px grey;
  border-radius: 5px;
}

.add_plants_icons {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  opacity: 0.8;
}

.my-plant-ui-card-container {
  display: inline-block;
  height: 300px;
  width: 400px;
  position: relative;
  overflow: hidden;
  padding: 0.8em;
  margin: 1em 0em;
  background-color: var(--bottom-half-nav);
  box-shadow: 2px grey;
  border-radius: 5px;
}

.plant_info {
  font-weight: bold;
  background-color: var(--bottom-half-nav);
  transform: translateY(2px);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: left;
}

.plant_details {
	color: #054456;
	font-size: 1.3em;
	align-items: left;
	padding: 5px;
}


.delete-image {
	opacity: 0.5;
	padding-right: 15px;
}

.btn-no-btn {
	background-color: #E9E4D2;
	border: none;
	padding: 0.2em;
	text-decoration: none;
	display: inline-block;
}

.plant-ui-card-container:hover .plant_info {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
}

.my-plant-ui-card-container:hover .plant_info {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
}
.plants_added{
  color: var(--text-and-top-half-nav);
}
/* Plants Routes Styling ~ END */

/* modal box on plants pag */
.modalDialog {
	position: fixed;
  font-family: 'Oswald', sans-serif;
  color: var(--text-and-top-half-nav);
  font-weight: bolder;
  padding: 0.5em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
    /* max-height: calc(100vh - 210px); */
    overflow-y: auto;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
  background-color:  var(--bottom-half-nav);
}

.close {
	background: #054456;
	color: #E9E4D2;
	line-height: 2em;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 2em;
	text-decoration: none;
	font-weight: bolder;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: var(--text-and-top-half-nav); } /* #1D5666; */


.plants-container {
    position: relative;
	text-align: center;
	padding: 15px 20px 15px 20px
}

.add-plant-image {
    position: fixed;
    box-shadow: 2px grey;
    top: 9em;
    right: 2em;
    width: 6em;
    height: 6em;
    opacity: 0.8;
}

.add-plant-image:hover {
    opacity: 1;
    transition: all 0.3s linear;
}

.add-plant-header {
    padding: 0.5em 0em;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}

.my-plants-header {
	padding: 8px;
	color: #E9E4D2;
	font-size: 1.8em;
	text-align: left;
	padding-left: 1.5em
}

.my-plants-header > p {
	padding: 2px;
	color: #E9E4D2;
	font-size: 0.5em;
	text-align: left;
	margin: 0;
}

.plants-body {
	padding-top: 20px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.add-plants-btn {
    font-family: 'Oswald', sans-serif;
    background-color: var(--text-and-top-half-nav);
    color: var(--bottom-half-nav);
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
	border-radius: 10px;
	border: none;
}

.add-plants-btn:hover {
    opacity: 0.8;
    transition: all 0.3s linear;
}