/* todo page */
body {
    background: #C96A6A
}
.cloud{
    background: url(/weather_assets/clouds.png);
}
.weather {
    margin-left: auto;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container-for-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-do-item {
    display: flex;
    font-size: 1rem;
    color: #163139;
    display: flex;
    justify-content: space-between;
    border: solid #6D9848 1px;
    background: #6D9848;
    padding: 1rem 1rem;
    width: 80%;
    border-radius: 10px 10px;
    padding: 1%;
    transition: width 0.8s ease-in, padding 0.8s ease-in;
    margin-bottom: 3%;
    -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.64);    
}
.test {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    align-self:flex-start;
    margin-left: 10%;
}

.test > * {
    opacity: 0;
}
.zero_height {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.accordionTwo > * {
    display: none;
}
